<%- include("partials/aheader") -%>

<h1>Admin home</h1>
<a class="btn btn-light btn-lg" href="/newadata" role="button">ADD AADHAR DATA</a>
<a class="btn btn-light btn-lg" href="/adminlogout" role="button">Log Out</a>


<%- include("partials/footer") -%>