<%- include('partials/header') %>

<div class="container-box">

  <div class="login-box">
    <h1>Login</h1>
    <form action="/adminlogin" method="POST">
    <div class="text-box form-group">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="text-box form-group">
                <i class="fa fa-key" aria-hidden="true"></i>
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>

            <input class="btn btn-dark" type="button" value="Enter">
        </form>
        
    </div>
</div>

<%- include('partials/footer') %>
