<%- include("partials/header") -%>
<body>
<div class="container-box">
    <div class="login-box">
<h1>Admin home</h1>

<a class="btn btn-dark btn-lg" href="/newadata" role="button">ADD AADHAR DATA</a>

<br><br>
<a class="btn btn-dark btn-lg" href="/adminlogout" role="button">Log Out</a>
</div>
</div>
</body>
<%- include("partials/footer") -%>