body {
  margin: 0;
padding: 0;
font-family: sans-serif;
background: url(../assets/bg.jpg) no-repeat;
background-size: cover;
  background-color: #e8ecef;
}
.container-box{
  top: 25%;
  left: 25%;
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: black;
  border-style: solid #000;
}
.container-big{
  top: 25%;
  left: 25%;
  position: absolute;
  width: 500px;
  height: 800px;
  background-color: black;
  border-style: solid #000;
}

.login-box{
  width: 280px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-box h1{
  float:left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50 px;
  padding: 13px 0;
}
.text-box{
  width: 100%;
  overflow:hidden;
  font-size: 20px 0;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid  #4caf50;

}
.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.verifypimg1 {
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
  width: 200px;
  height: 200px;
}
.verifypimg2 {
  position: relative;
  top: -70px;
  left: 10px;
  margin: 10px;
  width: 300px;
  height: 200px;
}
.verifypimg3 {
  position: relative;
  bottom: -70px;
  left: 10px;
  margin-top: 200px;
  margin-left: -310px;
  width: 300px;
  height: 200px;
}
.box {
  position: relative;
  max-width: 90%;
  height: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.aadharnumber {
}
.name {
}
.email {
}
.userinfo {
  position: relative;
  top: -350px;
  left: 800px;
}